<div class="section">
  <form>
    <h5 class="card-title">DOMIN8</h5>
    <p class="card-text">
      <strong class="text-muted">₹599 M.R.P: ₹999 (40% off)</strong>
    </p>
    <h5 class="card-title">Was Delivered To : Harshit Dubey</h5>
    <h5 class="card-title">Address : 271 A/2 Tilak Nagar Bangalore</h5>
    <p class="card-text">Order Date : 10/01/2024</p>
    <p class="card-text">Delivery Date : 15/01/2024</p>

    <div class="form-group">
      <label for="reason">Reason for Return</label>
      <textarea
        class="form-control"
        id="reason"
        rows="3"
        placeholder="Enter reason for return"
      ></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
