<div class="row row-cols-1 row-cols-md-2 g-4">
  <!-- order 1 -->

  <div class="col">
    <div class="card">
      <img
        src="https://m.media-amazon.com/images/I/91GcWcw0+dL._AC_UL320_.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">DOMIN8</h5>
        <h5 class="card-title">Delivered To : Harshit Dubey</h5>
        <h5 class="card-title">Address : 271 A/2 Tilak Nagar Bangalore</h5>
        <p class="card-text">Order Date : 10/01/2024</p>

        <button class="btn btn-danger">
          <a
            href=""
            style="color: white; text-decoration: none"
            routerLink="/return"
            >Return</a
          >
        </button>
        <button class="btn btn-success">Order again</button>
      </div>
    </div>
  </div>

  <!-- order 2 -->

  <div class="col">
    <div class="card">
      <img
        src="https://m.media-amazon.com/images/I/51eKEDBpyDL._AC_UL320_.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">DOMIN8</h5>
        <h5 class="card-title">Delivered To : Harshit Dubey</h5>
        <h5 class="card-title">Address : 271 A/2 Tilak Nagar Bangalore</h5>
        <p class="card-text">Order Date : 10/01/2024</p>

        <button class="btn btn-danger">
          <a
            href=""
            style="color: white; text-decoration: none"
            routerLink="/return"
            >Return</a
          >
        </button>
        <button class="btn btn-success">Order again</button>
      </div>
    </div>
  </div>

  <!-- order 3 -->
  <div class="col">
    <div class="card">
      <img
        src="https://m.media-amazon.com/images/I/713wEcCIKRL._AC_UL320_.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Kurti</h5>
        <h5 class="card-title">Will be Delivered To : Namrata Dubey</h5>
        <h5 class="card-title">Address : 271 A/2 Tilak Nagar Bangalore</h5>
        <p class="card-text">Order Date : 11/01/2024</p>

        <button class="btn btn-danger">
          <a
            href=""
            style="color: white; text-decoration: none"
            routerLink="/return"
            >Return</a
          >
        </button>
        <button class="btn btn-success">Order again</button>
      </div>
    </div>
  </div>
</div>
