<div class="womens-screen">
  <h2>T-shirts</h2>

  <!-- T-shirts 1 -->

  <div class="card-group">
    <div class="card">
      <img
        id="product-img-2"
        class="card-img-top"
        src="https://m.media-amazon.com/images/I/51eKEDBpyDL._AC_UL320_.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">ROV CLOTHING & CO.</h5>
        <p class="card-text">Men's Casual Wear Back Print White T-Shirt</p>
        <p class="card-text">
          <strong class="text-muted">₹599 M.R.P: ₹999 (40% off)</strong>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        id="product-img-2"
        class="card-img-top"
        src="https://m.media-amazon.com/images/I/71ETojXv-iL._AC_UL320_.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">DOMIN8</h5>
        <p class="card-text">
          Men's Camouflage Print Modern Fit T-Shirt | Reflective Brand Logos |
          Casual
        </p>
        <p class="card-text">
          <strong class="text-muted">₹711.55 M.R.P: ₹1,199 41% off</strong>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        id="product-img-2"
        class="card-img-top"
        src="https://m.media-amazon.com/images/I/61ckXdPNKTL._AC_UL320_.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">London Hills</h5>
        <p class="card-text">
          Solid Men's Round Neck Cotton Blend Half Sleeve T-Shirts
        </p>
        <p class="card-text">
          <strong class="text-muted">₹199 M.R.P: ₹1,299 85% off</strong>
        </p>
      </div>
    </div>
  </div>

  <!-- T-shirts 1 ends -->
  <br />
  <h2>Trousers</h2>
  <!-- trowsers -->

  <div class="card-group">
    <div class="card">
      <img
        id="product-img-2"
        class="card-img-top"
        src="https://m.media-amazon.com/images/I/617Zg6QsgDL._AC_UL320_.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">The Pant Project</h5>
        <p class="card-text">
          Luxury PV Lycra Stretchable Formal Pants for Men | Stylish Slim Fit
          Men's
        </p>
        <p class="card-text">
          <strong class="text-muted">₹1,990 M.R.P: ₹2,990 (33% off)</strong>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        id="product-img-2"
        class="card-img-top"
        src="https://m.media-amazon.com/images/I/61zOk+j+A7L._AC_UL320_.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Urbano Fashion</h5>
        <p class="card-text">
          Men's Cotton Light Weight Non-Stretch Slim Fit Casual Trousers
        </p>
        <p class="card-text">
          <strong class="text-muted">₹711.55 M.R.P: ₹1,199 41% off</strong>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        id="product-img-2"
        class="card-img-top"
        src="https://m.media-amazon.com/images/I/61wd3b+wn+L._AC_UL320_.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">The Turquoise Turtle</h5>
        <p class="card-text">
          Solid Pattern Formal Trouser Pant for Men with Regular Fit
        </p>
        <p class="card-text">
          <strong class="text-muted">₹199 M.R.P: ₹1,299 85% off</strong>
        </p>
      </div>
    </div>
  </div>

  <!-- trowsers -->
</div>
