<div class="cart-screen">
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://m.media-amazon.com/images/I/61ckXdPNKTL._AC_UL320_.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">DOMIN8</h5>
          <p class="card-text">
            Men's Camouflage Print Modern Fit T-Shirt | Reflective Brand Logos |
            Casual
          </p>
          <p class="card-text">
            <strong class="text-muted">₹711.55 M.R.P: ₹1,199 41% off</strong>
          </p>
          <p class="card-text">
            <strong class="text-muted">Quantity 1 size M</strong>
          </p>

          <button class="btn btn-primary">remove from cart</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://m.media-amazon.com/images/I/91jQzsvErIL._AC_UL320_.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">DOMIN8</h5>
          <p class="card-text">
            Men's Camouflage Print Modern Fit T-Shirt | Reflective Brand Logos |
            Casual
          </p>
          <p class="card-text">
            <strong class="text-muted">₹711.55 M.R.P: ₹1,199 41% off</strong>
          </p>
          <p class="card-text">
            <strong class="text-muted">Quantity 1 size M</strong>
          </p>
          <button class="btn btn-primary">remove from cart</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://m.media-amazon.com/images/I/713wEcCIKRL._AC_UL320_.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">DOMIN8</h5>
          <p class="card-text">
            Men's Camouflage Print Modern Fit T-Shirt | Reflective Brand Logos |
            Casual
          </p>
          <p class="card-text">
            <strong class="text-muted">₹711.55 M.R.P: ₹1,199 41% off</strong>
          </p>
          <p class="card-text">
            <strong class="text-muted">Quantity 1 size M</strong>
          </p>
          <button class="btn btn-primary">remove from cart</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://m.media-amazon.com/images/I/71zCaP7WGSL._AC_UL320_.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">DOMIN8</h5>
          <p class="card-text">
            Men's Camouflage Print Modern Fit T-Shirt | Reflective Brand Logos |
            Casual
          </p>
          <p class="card-text">
            <strong class="text-muted">₹711.55 M.R.P: ₹1,199 41% off</strong>
          </p>
          <p class="card-text">
            <strong class="text-muted">Quantity 1 size M</strong>
          </p>
          <button class="btn btn-primary">remove from cart</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 5th -->
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://m.media-amazon.com/images/I/51eKEDBpyDL._AC_UL320_.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">DOMIN8</h5>
          <p class="card-text">
            Men's Camouflage Print Modern Fit T-Shirt | Reflective Brand Logos |
            Casual
          </p>
          <p class="card-text">
            <strong class="text-muted">₹711.55 M.R.P: ₹1,199 41% off</strong>
          </p>
          <p class="card-text">
            <strong class="text-muted">Quantity 1 size M</strong>
          </p>
          <button class="btn btn-primary">remove from cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
